<div class="formularioUsuario">
    <h2>{{ titulo }}</h2>

    <form [formGroup]="usuarioForm" (ngSubmit)="registrar()">
        <div class="form-group row">
            <div class="form-group col-sm-6">
                <label>Nombres</label>
                <input type="text" formControlName="nombre" class="form-control">
                <div *ngIf="nombre?.invalid && (nombre?.touched || nombre?.dirty)" class="danger alert-danger">
                    <div *ngIf="nombre?.errors?.required" class="container-error-message">
                        Este campo es obligatorio
                    </div>
                    <div *ngIf="nombre?.errors?.maxLength" class="container-error-message">
                        Limite de caracteres excedido, solo se admiten 100
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label>Apellidos</label>
                <input type="text" formControlName="apellido" class="form-control">
                <div *ngIf="apellido?.invalid && (apellido?.touched || apellido?.dirty)" class="danger alert-danger">
                    <div *ngIf="apellido?.errors?.required">
                        Este campo es obligatorio
                    </div>
                    <div *ngIf="apellido?.errors?.maxLength">
                        Limite de caracteres excedido, solo se admiten 100
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="form-group col-sm-6">
                <label>Fecha de Nacimiento</label>
                <input type="date" formControlName="fecha_nacimiento" class="form-control" min="{{min_date}}" max="{{current_day}}" />
                <div *ngIf="fecha_nacimiento?.invalid && (fecha_nacimiento?.touched || fecha_nacimiento?.dirty)" class="danger alert-danger">
                    <div class="danger alert-danger" *ngIf="fecha_nacimiento?.errors?.required">
                        Este campo es obligatorio
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-6 ">
                <label>Edad</label>
                <input type="number" formControlName="edad" class="form-control">
                <div *ngIf="edad?.invalid && (edad?.touched || edad?.dirty) " class="danger alert-danger">
                    <div *ngIf="edad?.errors?.min" class="container-error-message">No se permiten valores menores 0</div>
                    <div *ngIf="edad?.errors?.max">No se permiten valores mayores a 130</div>
                </div>
            </div>

        </div>
        <div class="form-group row ">

            <div class="form-group col-sm-6 ">
                <label>Correo electrónico</label>
                <input type="text" formControlName="email" class="form-control">
                <div *ngIf="email?.invalid && (email?.touched || email?.dirty)" class="danger alert-danger">
                    <div *ngIf="email?.errors?.email">Email invalido</div>
                </div>
            </div>

            <div class="form-group col-sm-6">
                <label>Dirección de residencia</label>
                <input type="text" formControlName="direccion" class="form-control ">
                <div *ngIf="direccion?.invalid && (direccion?.touched || direccion?.dirty)" class="danger alert-danger">
                    <div *ngIf="direccion?.errors?.maxLength" class="container-error-message">
                        Este campo es obligatorio
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row ">
            <div class="form-group col-sm-6 ">
                <label>Ciudad de residencia</label>
                <select name="ciudad" id="ciudad" formControlName="ciudad" class="form-control">
                            <option [ngValue]="item" *ngFor="let item of ciudades">{{item.nombre}}</option>
                        </select>
            </div>
        </div>

        <div class="form-group row ">
            <div class="col-sm-4 col-sm-offset-2 ">
                <span>
                    <button class="btn btn-primary " type="submit ">Registrar</button>
                </span>
            </div>
            <div class="col-sm-4 col-sm-offset-2 ">
                <span>
                    <button class="btn btn-primary " type="submit ">Limpiar</button>
                </span>
            </div>
        </div>
    </form>
</div>